<div id="container">
  <nav class="navbar">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Luna Inc.</a>
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-items" type="button">options</button>
    </div>

    <div id="collapsed-items" class="collapse navbar-collapse">
      <div class="top-navheader">
        <button type="button">Sign In</button>
        <button type="button">Preferences</button>
      </div>
      <div class="bottom-navheader">
        <button type="button">dropdown 1</button>
        <button type="button">dropdown 2</button>
        <button type="button">dropdown 3</button> 
        <button type="button">dropdown 4</button>  
      </div>
    </div>
  </nav>

  <h1>Content</h1>
  <p>stuff</p>
  <p>stuff</p>
  <p>stuff</p>
</div>