@import "./palette";

#container {
  margin: 20px;
}

.navbar {
  background-color: @nav-background;
  border-radius: 4px;

  @media screen and (min-width: 48em) {
    height: 100px;
  }  
}

.navbar-header {
  a {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: #b5e7a0;
    border-radius: 20px;
    font-weight: 900;
  }
} 

.top-navheader {
  text-align: center;
  width: 50%;

  @media screen and (min-width: 48em) {
    text-align: right;
    width: 100%;
  }

  button {
    margin: 10px;
    width: 100px;
  }
}

.bottom-navheader {

  button {
    width: 50%;
  }

  @media screen and (min-width: 48em) {
    text-align: center;
    width: 80%;

    button {
      width: 20%;
    }
  }
}